<div data-controller="cottagecheck" style="height: 92%">
  <div class="container overflow-hidden" data-cottagecheck-target="overflow" style= "height: 100%">
    <%= simple_form_for @cottage, html: { class: "h-100"} do |f| %>
      <div class="row align-items-center justify-content-between fade-in" data-cottagecheck-target="stepOne" style="height: 92%">
        <div class="col-6">
          <p class="fw-medium fs-5">Étape 1</p>
          <h1 style="font-size: 56px">Parlez-nous de <br> votre logement</h1>
          <p class=" fw-light fs-5">Au cours de cette étape, nous allons vous demander quel type de logement vous proposez et si les voyageurs pourront le réserver dans son intégralité ou
            si vous ne louez qu'une chambre. Nous vous demanderons ensuite d'indiquer son emplacement et sa capacité d'accueil.
          </p>
        </div>
        <div class="col-5">
          <%= cl_image_tag "r46wnrrutkikeejzj7sd", height: 300 %>
        </div>
      </div>

      <div class="row mt-5 justify-content-center d-none fade-in" data-cottagecheck-target="stepAddress" style="height: 92%" >
        <div class="col-6">
          <h1 class="fs-1">Où est situé votre logement ?</h1>
          <p class="fs-5">Votre adresse est uniquement communiquée aux voyageurs une fois leur réservation effectuée.</p>
            <div class="form was-validated" data-controller="address-autocomplete" data-address-autocomplete-api-key-value= "<%= ENV["MAPBOX_API_KEY"] %>">
              <%= f.input :address,
                required: true,
                autofocus: true, 
                label: false,
                placeholder: "Saisissez votre addresse",
                input_html: { autocomplete: "Address", class: "invalid rounded-4 d-none", "data-cottagecheck-target": "checkAddress", "data-address-autocomplete-target": "address"}
              %>
              <div style="width: 100%; height: 400px;" data-address-autocomplete-target ="map">
              </div>
              <button type="button" class="btn bg-black text-white rounded-4 w-100" data-action="click->address-autocomplete#showMap">Test</button>
            </div>
        </div>
      </div>

      <div class="row mt-5 justify-content-center d-none fade-in" data-cottagecheck-target="stepRooms" style="height: 92%" >-
        <div class="col-6">
          <h1 class="fs-1">Donnez les informations principales concernant votre logement</h1>
          <p class="fs-5">Vous pourrez ajouter d'autres informations plus tard, comme les types de lit.</p>
          <div class="form mt-5 was-validated">
            <div class="d-flex justify-content-between align-items-center my-4 border-bottom">
              <p class="fs-5 fw-light user-select-none">Voyageurs</p>
              <%= f.input :total_occupancy,
                collection: 1..10,
                required: true,
                autofocus: true, 
                label: false,
                selected: 1,
                input_html: { autocomplete: "Total occupancy", class: "invalid d-none", "data-cottagecheck-target": "checkOccupancy" }
              %>
              <div class="number d-flex justify-content-between align-items-center" style="width: 100px; margin-bottom: 1rem">
                <div class="border rounded-circle border-secondary position-relative hover-count" style="width: 35px; height: 35px; cursor: pointer" data-action="click->cottagecheck#downOccupancy" data-cottagecheck-target="occupancyBorderDown">
                  <i class="fa-solid text-secondary fa-minus text-center mb-0 position-absolute top-50 start-50 translate-middle user-select-none"></i>
                </div>
                <p class="mb-0 user-select-none" data-cottagecheck-target="occupancyCounter">1</p>
                <div class="border rounded-circle border-secondary position-relative hover-count" style="width: 35px; height: 35px; cursor: pointer" data-action="click->cottagecheck#upOccupancy" data-cottagecheck-target="occupancyBorderUp">
                  <i class="fa-solid text-secondary fa-plus text-center mb-0 position-absolute top-50 start-50 translate-middle user-select-none"></i>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center my-4 border-bottom">
              <p class="fs-5 fw-light user-select-none">Chambre</p>
              <%= f.input :total_bathroom,
                collection: 1..10,
                required: true,
                autofocus: true, 
                selected: 1,
                label: false,
                input_html: { autocomplete: "Total bathroom", class: "invalid d-none", "data-cottagecheck-target": "checkBathroom" }
              %>
              <div class="number d-flex justify-content-between align-items-center" style="width: 100px; margin-bottom: 1rem">
                <div class="border rounded-circle border-secondary position-relative hover-count" style="width: 35px; height: 35px; cursor: pointer" data-action="click->cottagecheck#downBathroom" data-cottagecheck-target="bathroomBorderDown">
                  <i class="fa-solid text-secondary fa-minus text-center mb-0 position-absolute top-50 start-50 translate-middle user-select-none"></i>
                </div>
                <p class="mb-0 user-select-none" data-cottagecheck-target="bathroomCounter">1</p>
                <div class="border rounded-circle border-secondary position-relative hover-count" style="width: 35px; height: 35px; cursor: pointer" data-action="click->cottagecheck#upBathroom" data-cottagecheck-target="bathroomBorderUp">
                  <i class="fa-solid text-secondary fa-plus text-center mb-0 position-absolute top-50 start-50 translate-middle user-select-none"></i>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center my-4 border-bottom">
              <p class="fs-5 fw-light user-select-none">Lits</p>
              <%= f.input :total_bed,
                collection: 1..10,
                required: true,
                autofocus: true, 
                selected: 1,
                label: false,
                input_html: { autocomplete: "Total bed", class: "invalid d-none", "data-cottagecheck-target": "checkBed" }
              %>
              <div class="number d-flex justify-content-between align-items-center" style="width: 100px; margin-bottom: 1rem">
                <div class="border rounded-circle border-secondary position-relative hover-count" style="width: 35px; height: 35px; cursor: pointer" data-action="click->cottagecheck#downBed" data-cottagecheck-target="bedBorderDown">
                  <i class="fa-solid text-secondary fa-minus text-center mb-0 position-absolute top-50 start-50 translate-middle user-select-none"></i>
                </div>
                <p class="mb-0 user-select-none" data-cottagecheck-target="bedCounter">1</p>
                <div class="border rounded-circle border-secondary position-relative hover-count" style="width: 35px; height: 35px; cursor: pointer" data-action="click->cottagecheck#upBed" data-cottagecheck-target="bedBorderUp">
                  <i class="fa-solid text-secondary fa-plus text-center mb-0 position-absolute top-50 start-50 translate-middle user-select-none"></i>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center my-4">
              <p class="fs-5 fw-light user-select-none">Salle de bains</p>
              <%= f.input :total_bedroom,
                collection: 1..10,
                required: true,
                autofocus: true, 
                selected: 1,
                label: false,
                input_html: { autocomplete: "Total bedroom", class: "invalid d-none", "data-cottagecheck-target": "checkBedroom" }
              %>
              <div class="number d-flex justify-content-between align-items-center" style="width: 100px; margin-bottom: 1rem">
                <div class="border rounded-circle border-secondary position-relative hover-count" style="width: 35px; height: 35px; cursor: pointer"" data-action="click->cottagecheck#downBedroom" data-cottagecheck-target="bedroomBorderDown">
                  <i class="fa-solid text-secondary fa-minus text-center mb-0 position-absolute top-50 start-50 translate-middle user-select-none"></i>
                </div>
                <p class="mb-0 user-select-none" data-cottagecheck-target="bedroomCounter">1</p>
                <div class="border rounded-circle border-secondary position-relative hover-count" style="width: 35px; height: 35px; cursor: pointer" data-action="click->cottagecheck#upBedroom" data-cottagecheck-target="bedroomBorderUp">
                  <i class="fa-solid text-secondary fa-plus text-center mb-0 position-absolute top-50 start-50 translate-middle user-select-none"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center justify-content-between d-none fade-in" data-cottagecheck-target="stepTwo" style="height: 92%">
        <div class="col-6">
          <p class="fw-medium fs-5">Étape 2</p>
          <h1 style="font-size: 56px">Faites sortir votre<br>annonce du lot</h1>
          <p class=" fw-light fs-5">Au cours de cette étape, vous pourrez ajouter certains des équipements proposés dans votre logement et au moins 5 photos.
            Vous pourrez ensuite ajouter un titre et une description.
          </p>
        </div>
        <div class="col-5">
          <%= cl_image_tag "vpb6cefithsqluvvqkie", height: 300 %>
        </div>
      </div>

      <div class="row mt-5 justify-content-center d-none fade-in" data-controller="checkboxe" data-cottagecheck-target="stepEquipments" style="height: 92%">
        <div class="col-8">
          <h1 class="fs-1">Indiquez aux voyageurs quels sont les équipements de votre logement</h1>
          <p class="fs-5">Vous pourrez ajouter des équipements une fois votre annonce publiée.</p>
            <div class="form was-validated" >
              <div class="container user-select-none" style="margin-bottom: 6rem">
                

                  <%= f.association :equipments,
                    as: :check_boxes,
                    label: false,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'category-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: {class: 'category-selector user-select-none'},
                    collection: Equipment.all
                  %>

                    <!--<% @equipments.each do |equipment| %>
                      <div class="col p-2">
                        <div class="border py-5 rounded-4" style="cursor: pointer" data-action="click->checkboxe#fire">
                          <%= cl_image_tag equipment.icon.key, alt: "text", height: 50 %>
                          <p><%= equipment.name %></p>
                        </div>
                      </div>
                    <% end %>-->
                  



                
              </div>
            </div>
        </div>
      </div>

      <div class="row mt-5 justify-content-center d-none fade-in" data-cottagecheck-target="stepPhotos" style="height: 92%">
        <div class="col-6">
          <h1 class="fs-1">Ajoutez quelques photos de votre appartement</h1>
          <p class="fs-5">Pour commencer, vous aurez besoin de 5 photos. Vous pourrez en ajouter d'autres ou faire des modifications plus tard..</p>
          <div class="form py-5 px-5 text-center was-validated" style="border: 1px dashed rgb(176, 176, 176);">
            <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 576 512"><path d="M160 80H512c8.8 0 16 7.2 16 16V320c0 8.8-7.2 16-16 16H490.8L388.1 178.9c-4.4-6.8-12-10.9-20.1-10.9s-15.7 4.1-20.1 10.9l-52.2 79.8-12.4-16.9c-4.5-6.2-11.7-9.8-19.4-9.8s-14.8 3.6-19.4 9.8L175.6 336H160c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16zM96 96V320c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H160c-35.3 0-64 28.7-64 64zM48 120c0-13.3-10.7-24-24-24S0 106.7 0 120V344c0 75.1 60.9 136 136 136H456c13.3 0 24-10.7 24-24s-10.7-24-24-24H136c-48.6 0-88-39.4-88-88V120zm208 24a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
            <h3 class="mt-3">Faites glisser vos photos ici</h3>
            <p>Choisissez au moins 5 photos</p>
            <%= f.input :photos, as: :file, required: true, label: false, input_html: { multiple: true, class: "mt-3 invalid", "data-cottagecheck-target": "checkPhotos" } %>
          </div>
        </div>
      </div>

      <div class="row mt-5 justify-content-center d-none fade-in" data-cottagecheck-target="stepName" style="height: 92%">
        <div class="col-6">
          <h1 class="fs-1">À présent, donnez un titre à votre annonce</h1>
          <p class="fs-5">Racontez ce qui rend votre logement unique.</p>
            <div class="form was-validated" >
              <%= f.input :name,
                as: :text,
                required: true,
                label: false,
                input_html: { maxlength: 32, minlength: 5, rows: 3, class: "form-control rounded", "data-cottagecheck-target": "checkName" }
              %>
              </div>
        </div>
      </div>

      <div class="row mt-5 justify-content-center d-none fade-in" data-cottagecheck-target="stepDescription" style="height: 92%">
        <div class="col-6">
          <h1 class="fs-1">Créez votre description</h1>
          <p class="fs-5">Les titres courts sont généralement les plus efficaces. Ne vous inquiétez pas, vous pourrez toujours le modifier plus tard.</p>
          <div class="form was-validated" >
            <%= f.input :description,
              as: :text,
              required: true,
              label: false,
              input_html: { maxlength: 70000, minlength: 60, rows: 10, class: "form-control rounded", "data-cottagecheck-target": "checkDescription" }
            %>
          </div>
        </div>
      </div>

      <div class="row align-items-center justify-content-between d-none fade-in" data-cottagecheck-target="stepThree" style="height: 92%">
        <div class="col-6">
          <p class="fw-medium fs-5">Étape 3</p>
          <h1 style="font-size: 56px">Terminez et publiez</h1>
          <p class=" fw-light fs-5">Enfin, vous pourrez choisir de commencer avec un voyageur expérimenté ou non. Vous fixerez ensuite votre prix par nuit.
            Répondez à quelques questions rapides, puis publiez votre annonce lorsque tout est prêt.
          </p>
        </div>
        <div class="col-5">
          <%= cl_image_tag "xgbep9d8bycfrk6ocwxo", height: 300 %>
        </div>
      </div>

      <div class="row mt-5 justify-content-center d-none fade-in" data-cottagecheck-target="stepPrice" style="height: 92%">
        <div class="col-6">
          <h1 class="fs-1">À présent, fixez votre prix</h1>
          <p class="fs-5">Vous pouvez le modifier à tout moment.</p>
          <div class="form" >
            <%= f.input :price,
              required: true,
              label: false,
              input_html: { class: "form-control rounded d-none", "data-cottagecheck-target": "price" }
            %>
            <input min="20" max="1000" value="50" type="number"  data-cottagecheck-target="checkPrice" class="form-control border-0 shadow-none fw-semibold text-center user-select-none" style="font-size: 7rem" />
          </div>
        </div>
      </div>

      <div class="row mt-5 justify-content-center d-none fade-in" data-cottagecheck-target="stepFinish" style="height: 100%">
        <div class="col-6 text-center">
          <h1 class="fs-1">Félicitation !</h1>
          <p class="fs-5">Vous pouvez désormais mettre votre chalêt sur le marché de CottageView</p>
          <%= cl_image_tag "xhcyqnouax6tog2jlard", height: 300 %>
          <%= f.button :submit, "Mettre en ligne", class: "mt-5 btn bg-primary text-white rounded-4 w-100"  %>
      <% end %>
        </div>
      </div>
  </div>




  <div class="container-fluid position-fixed" style="bottom: 0; height: 8%; background-color: var(--bs-body-bg);">
    <div class="row">
      <div class="col-4 pe-0">
        <div class="progress" role="progressbar" aria-label="striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 8px">
          <div class="progress-bar bg-black" data-cottagecheck-target="progressBarOne" style="width: 0%"></div>
        </div>
      </div>
      <div class="col-4 pe-0">
        <div class="progress" role="progressbar" aria-label="striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 8px">
          <div class="progress-bar bg-black" data-cottagecheck-target="progressBarTwo" style="width: 0%"></div>
        </div>
      </div>
      <div class="col-4">
        <div class="progress" role="progressbar" aria-label="striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 8px">
          <div class="progress-bar bg-black" data-cottagecheck-target="progressBarThree" style="width: 0%"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between text-center mt-3">
      <div class="col-1">
        <a href="">Retour</a>
      </div>
      <div class="col-10"></div>
      <div class="col-1">
        <button type="button" class="btn bg-black text-white rounded-4 w-100" data-cottagecheck-target="buttonOne" data-action="click->cottagecheck#toStepAddress">Suivant</button>
        <button type="button" class="btn bg-black text-white rounded-4 w-100 d-none" data-cottagecheck-target="buttonAddress" data-action="click->cottagecheck#toStepRooms">Suivant</button>
        <button type="button" class="btn bg-black text-white rounded-4 w-100 d-none" data-cottagecheck-target="buttonRooms" data-action="click->cottagecheck#toStepTwo">Suivant</button>
        <button type="button" class="btn bg-black text-white rounded-4 w-100 d-none" data-cottagecheck-target="buttonTwo" data-action="click->cottagecheck#toStepEquipments">Suivant</button>
        <button type="button" class="btn bg-black text-white rounded-4 w-100 d-none" data-cottagecheck-target="buttonEquipments" data-action="click->cottagecheck#toStepPhotos">Suivant</button>
        <button type="button" class="btn bg-black text-white rounded-4 w-100 d-none" data-cottagecheck-target="buttonPhotos" data-action="click->cottagecheck#toStepName">Suivant</button>
        <button type="button" class="btn bg-black text-white rounded-4 w-100 d-none" data-cottagecheck-target="buttonName" data-action="click->cottagecheck#toStepDescription">Suivant</button>
        <button type="button" class="btn bg-black text-white rounded-4 w-100 d-none" data-cottagecheck-target="buttonDescription" data-action="click->cottagecheck#toStepThree">Suivant</button>
        <button type="button" class="btn bg-black text-white rounded-4 w-100 d-none" data-cottagecheck-target="buttonThree" data-action="click->cottagecheck#toStepPrice">Suivant</button>
        <button type="button" class="btn bg-black text-white rounded-4 w-100 d-none" data-cottagecheck-target="buttonPrice" data-action="click->cottagecheck#toStepFinish">Suivant</button>
      </div>
    </div>
  </div>
</div>
