<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-6">
      <h2 class="fw-medium fs-1">Donnez les informations principales concernant votre logement</h2>
      <p class="text-secondary fs-5">Vous pourrez ajouter d'autres informations plus tard, comme les types de lit.</p>
      <%= simple_form_for @cottage, url: wizard_path, html: { class: "h-100"} do |f| %>
        <div class="form mt-5">
          <div class="d-flex justify-content-between align-items-center my-4 border-bottom">
            <p class="fs-5 fw-light">Voyageurs</p>
            <%= f.input :total_occupancy,
              collection: 1..10,
              required: true,
              autofocus: true, 
              label: false,
              selected: 1,
              input_html: { autocomplete: "Total occupancy" }
            %>
          </div>
          <div class="d-flex justify-content-between align-items-center my-4 border-bottom">
            <p class="fs-5 fw-light">Chambre</p>
            <%= f.input :total_bathroom,
              collection: 1..10,
              required: true,
              autofocus: true, 
              selected: 1,
              label: false,
              input_html: { autocomplete: "Total bathroom" }
            %>
          </div>
          <div class="d-flex justify-content-between align-items-center my-4 border-bottom">
            <p class="fs-5 fw-light">Lits</p>
            <%= f.input :total_bed,
              collection: 1..10,
              required: true,
              autofocus: true, 
              selected: 1,
              label: false,
              input_html: { autocomplete: "Total bed" }
            %>
          </div>
          <div class="d-flex justify-content-between align-items-center my-4">
            <p class="fs-5 fw-light">Salle de bains</p>
            <%= f.input :total_bedroom,
              collection: 1..10,
              required: true,
              autofocus: true, 
              selected: 1,
              label: false,
              input_html: { autocomplete: "Total bedroom" }
            %>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <%= f.submit "Continue", class: "btn bg-black text-white rounded-4 btn w-100 mt-4" %>
    </div>
    <% end %>
  </div>
</div>