<div class="container padding-container">
      <h1 class="fs-3"><%= @cottage.name %></h1>
  <div class="row">
    <div class="col-6 pe-1 mb-3">
      <%= cl_image_tag @cottage.photos.first.key, id: "border-top-bottom-start", class: "w-100", quality: "100", fetch_format: "auto", crop: :fill, aspect_ratio: "1.0", gravity: "auto", height: 420 %>
    </div>
    <div class="col-3 px-1">
        <%= cl_image_tag @cottage.photos[1].key, class: "w-100 pb-1", quality: "100", fetch_format: "auto", crop: :fill, aspect_ratio: "1.0", gravity: "auto", height: 210 %>
        <%= cl_image_tag @cottage.photos[2].key,  class: "w-100 pt-1", quality: "100", fetch_format: "auto", crop: :fill, aspect_ratio: "1.0", gravity: "auto", height: 210 %>
    </div>
    <div class="col-3 px-1">
      <%= cl_image_tag @cottage.photos[3].key, id: "border-top-end", class: "w-100 pb-1", quality: "100", fetch_format: "auto", crop: :fill, aspect_ratio: "1.0", gravity: "auto", height: 210 %>
      <%= cl_image_tag @cottage.photos[4].key, id: "border-bottom-end", class: "w-100 pt-1", quality: "100", fetch_format: "auto", crop: :fill, aspect_ratio: "1.0", gravity: "auto", height: 210 %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><%= @cottage.description %></p>
      <% @cottage.equipments.each do |equipment| %>
        <div class="d-flex">
          <%= cl_image_tag equipment.icon.key, width: 20, height: 20 %>
          <p><%= equipment.name %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>