<!DOCTYPE html>
<html>
  <head>
    <title>CottageView</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <% if current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
    <% img = ["kyhq7c9ejvefzylobaji", "xqnmel5kveuznf9i5kne"] %>
    <body style="background-image: url('<%= cl_image_path img.sample %>'); background-position: 0% 0;
          background-size:50%; background-repeat: no-repeat; height: 100vh">
      <%= render "shared/auth_navbar" %>
    </body>
  <% elsif current_page?(root_path) %>
   <body style="background-image: url('<%= cl_image_path "pwcelwky1b3595adnwyb" %>'); background-size: 100%; background-repeat: no-repeat">
      <%= render "shared/navbar" %>
    </body>
  <% else %>
    <body>
    <%= render "shared/navbar" %>
  <% end %>
    <%= render "shared/flashes" %>
    <%= yield %>
    </body>

</html>
